Source: libdisplaycore-toolkit-shinybutton
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libdisplaycore-toolkit-shinybutton
Section: main
Architecture: all
XBSC-Group: DisplayCore
XBSC-Subgroup: Toolkits
Depends: libdisplaycore-core
Recommends: libdisplaycore-font-liberationsans
Provides: ShinyButton.h
Description: ShinyButton



