Source: libcariad-toolkit-shinybutton
Section: main
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libcariad-toolkit-shinybutton
Replaces: libdisplaycore-toolkit-shinybutton
Section: main
Architecture: all
XBSC-Group: Cariad
XBSC-Subgroup: Toolkits
Depends: libcariad-core
Recommends: libcariad-font-liberationsans
Provides: ShinyButton.h
Description: ShinyButton



